doctype
html
  head
    title Chrome Bricks
    link(rel="shortcut icon" type="image/png" href="./images/favicon.png")
    link(rel="stylesheet" type="text/css" href="./css/vendor/jqui.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
    script(type="text/javascript" src="./js/vendor/jquery-2.1.0.js")
    script(type="text/javascript" src="./js/vendor/jqui.js")
    script(type="text/javascript" src="./js/vendor/googlesuggest.js")
    script(type="text/javascript" src="./js/main.js")
    script(type="text/javascript" src="./js/http.js")
  body

    .content
      input.search(type="text")
      .cards